spring:
    application:
      name: buy_sell_store
    config:
        import: optional:application-secret.yaml

    datasource:
      driver-class-name: org.postgresql.Driver
      url: ${SPRING_DATASOURCE_URL}
      username: ${SPRING_DATASOURCE_USERNAME}
      password: ${SPRING_DATASOURCE_PASSWORD}

    jpa:
      show-sql: true
      hibernate:
        ddl-auto: none

    liquibase:
        enabled: true
